section.bottom
  .left
    .heading
      a.submit-post(href='#') SUBMIT NEW POST
      form.search-post(action='index.html', method='post')
        input.search-post(type='search', placeholder='SEARCH')
    .navigation
      a.option.option-active(href='/') HOME
      .navigation__sub
        .gradient.gradientLeft
        .gradient.gradientRight
        ol
          li
            a.option(href='#') HARDWARE
          li
            a.option(href='#') JAVASCRIPT
          li
            a.option(href='#') PYTHON
          li
            a.option(href='#') PRODUCTIVITY
          li
            a.option(href='#') TOOLS
          li
            a.option(href='#') TOOLS
      .arrows
        a.arrowLeft(href='#')
          span
            svg(width='9', height='16', viewbox='0 0 9 16', xmlns='http://www.w3.org/2000/svg')
              path(d='M1.05833636,0 L0,1.05654696 L6.95502928,8 L6.64746554e-16,14.943453 L1.05833636,16 L8.54271718,8.52827348 C8.83496729,8.23651377 8.83496729,7.7634825 8.54271718,7.47172652 L1.05833636,0 L1.05833636,0 Z', fill='#999', transform='matrix(-1 0 0 1 8.762 0)', fill-rule='evenodd')
        a.arrowRight(href='#')
          span
            svg(width='9', height='16', viewbox='0 0 9 16', xmlns='http://www.w3.org/2000/svg')
              path(d='M1.05833636,0 L0,1.05654696 L6.95502928,8 L6.64746554e-16,14.943453 L1.05833636,16 L8.54271718,8.52827348 C8.83496729,8.23651377 8.83496729,7.7634825 8.54271718,7.47172652 L1.05833636,0 L1.05833636,0 Z', fill='#999', fill-rule='evenodd')
    .posts__info
      h4.posts__quantity 153 posts
      .posts__filter
        a(href='#')
          h4
            | More Commented 
            span
              svg(width='8px', height='4px', viewbox='501 7 8 4', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                polygon(stroke='none', fill='#9B9B9B', fill-rule='evenodd', transform='translate(505.000000, 9.500000) rotate(-180.000000) translate(-505.000000, -9.500000) ', points='509 11 501 11 505 8')
    .posts-container
      .post
        .post__thumbnail
          img.post__image(src='img/post/post-1@2x.jpg', width='112', height='92', alt='post image')
        .post__right
          .post__content
            span.post-description Choosing The Best Audio Player Software For Your Computer
            span.post-link
              a(href='#') www.audible.com/adblbestsellers
          .post__meta
            .post-action-buttons
              button.vote-button(rel='vote-button')
                .button-container
                  .post-vote-arrow
                    svg(width='9px', height='9px', viewbox='0 5 9 9', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                      polygon(stroke='none', fill='#4A4A4A', fill-rule='evenodd', points='9 14 0 14 4.5 5')
                    |         151
              a.comment-button(href='')
                .button-container
                  span
                    svg(width='12', height='11', viewbox='0 0 12 11', xmlns='http://www.w3.org/2000/svg')
                      path(d='M10.0124802,16.8320558 C9.21033653,16.0515289 8.72727273,15.044941 8.72727273,13.9462121 C8.72727273,11.4655331 11.1897066,9.45454545 14.2272727,9.45454545 C17.2648389,9.45454545 19.7272727,11.4655331 19.7272727,13.9462121 C19.7272727,16.4268911 17.2648389,18.4378788 14.2272727,18.4378788 C13.4722764,18.4378788 12.752811,18.3136428 12.0978565,18.0888377 C11.026169,18.7087928 8.93104025,19.527919 8.93104025,19.527919 C8.93104025,19.527919 9.63175021,17.8427438 10.0124802,16.8320558 Z', transform='translate(-8 -9)', fill='#4A4A4A', fill-rule='evenodd')
                  |         10
            .association
              a.association__first
                .button-container
                  | WEB
              a.association__more(href='/') + 4
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
      .post
