.top
  img.logo(src='img/logo.svg', alt='logo', width='52px', height='26px')
  h4.beta We're on public pre-alpha!
  nav.menu
    ul
      li
        a(href='#') LOGIN
      li
        a(href='#') SIGN UP
