.right
  .comments-heading
    div
      p.comments-heading__title Choosing The Best Audio Player Software For Your Compute
      a.comments-heading__url(href='#') www.audible.com/adblbestsellers
      .comments-heading__meta
        .comments-action-buttons
          button.vote-button(rel='vote-button')
            .button-container
              .post-vote-arrow
                svg(width='9px', height='9px', viewbox='0 5 9 9', version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink')
                  polygon(stroke='none', fill='#4A4A4A', fill-rule='evenodd', points='9 14 0 14 4.5 5')
                |                                       151
          .voters
            span.user-image
              .user-image-pic
                img.placeholer(src='https://randomuser.me/api/portraits/men/20.jpg', alt='', width='28')
            span.user-image
              .user-image-pic
                img.placeholer(src='https://randomuser.me/api/portraits/men/5.jpg', alt='', width='28')
            span.user-image
              .user-image-pic
                img.placeholer(src='https://randomuser.me/api/portraits/men/23.jpg', alt='', width='28')
        //
          <div class="submited">
          <p>
          Submited by <a href="#">Rafael Medina</a> 4 hours ago
          </p>
          </div>
    .comments-picture
      img(src='img/post/post-header@2x.jpg', height='110', width='134', alt='Post Photo')
  .discussion
    .discussion-header
      .title DISCUSSION
      .filter
        a(href='#') Most upvoted
    .discussion-comments
      .thread
        a.profilepic(href='')
          img.placeholer(src='https://randomuser.me/api/portraits/men/5.jpg', alt='', width='28')
        .heading-text
          .name
            a(href='#') Jack Dweck
          .headline
        .body
          | This has to be the most unique product launch I've ever seen. Time for a trip to Venice Beach 😎.
        .actions
          | UPVOTE TWEET SHARE 4 hours ago
