extends layout

block content
  head
    h1= title
    p Welcome to #{title}
    meta charset="UTF-8
    title = "Freshman | Login"
  body
    h3 Welcome! Here are a few clubs that could interest you
    script(src="https://code.jquery.com/jquery-1.10.2.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/main.js")
