extends layout

block content
  .sidebar
    .clubs__container
      a
        article.club__item.flex.flex-column.flex-row-ns
          .club__padding.pa2.flex.flex-column.flex-row-ns
            .club__avatar.pa2
              img(src="/img/avatar-1.png", alt="")
            .club__name
              p.ma2.v-mid Computer Science
            
      a
        article.club__item.flex.flex-column.flex-row-ns
          .club__padding.pa2.flex.flex-column.flex-row-ns
            .club__avatar.pa2
              img(src="/img/avatar-2.png", alt="")
            .club__name
              p.ma2.v-mid Brazilian Group
              
      a      
        article.club__item.flex.flex-column.flex-row-ns
          .club__padding.pa2.flex.flex-column.flex-row-ns
            .club__avatar.pa2
              img(src="/img/avatar-3.png", alt="")
            .club__name
              p.ma2.v-mid Brazilian Group
              
      a      
        article.club__item.flex.flex-column.flex-row-ns
          .club__padding.pa2.flex.flex-column.flex-row-ns
            .club__avatar.pa2
              img(src="/img/avatar-4.png", alt="")
            .club__name
              p.ma2.v-mid Brazilian Group
            
      article.club__item.flex.flex-column.flex-row-ns
        .club__padding.pa2.flex.flex-column.flex-row-ns
          .club__avatar.pa2
            img(src="/img/avatar-5.png", alt="")
          .club__name
            p.ma2.v-mid Brazilian Group
        
  .app-wrap
    .header
    include messages-wrapper
    include scripts
