extends layout

block content
  .sidebar
    .clubs__container.br.b--black-10
      a
        article.club__item.flex.flex-column.flex-row-ns.club--selected.dim.pointer
          .club__padding.pa2.flex.flex-column.flex-row-ns
            .club__avatar.pa2
              img(src="/img/avatar-1.png", alt="").img.club__avatar--mw45
            .club__name
              p.ma2.v-mid.fw5.f6.font-color-1 Everything<br>
                span.f6.font-color-2.lh-club All clubs

      a
        article.club__item.flex.flex-column.flex-row-ns.dim.pointer
          .club__padding.pa2.flex.flex-column.flex-row-ns
            .club__avatar.pa2
              img(src="/img/avatar-2.png", alt="").img.club__avatar--mw45
            .club__name
              p.ma2.v-mid.fw5.f6.font-color-1 Brazil Club<br>
                span.f6.font-color-2.lh-club 12 people

      a
        article.club__item.flex.flex-column.flex-row-ns.dim.pointer
          .club__padding.pa2.flex.flex-column.flex-row-ns
            .club__avatar.pa2
              img(src="/img/avatar-4.png", alt="").img.club__avatar--mw45
            .club__name
              p.ma2.v-mid.fw5.f6.font-color-1 Soccer<br>
                span.f6.font-color-2.lh-club 7 people

      a
        article.club__item.flex.flex-column.flex-row-ns.dim.pointer
          .club__padding.pa2.flex.flex-column.flex-row-ns
            .club__avatar.pa2
              img(src="/img/avatar-7.png", alt="").img.club__avatar--mw45
            .club__name
              p.ma2.v-mid.fw5.f6.font-color-1 Gay Pride<br>
                span.f6.font-color-2.lh-club 122 people

      a
        article.club__item.flex.flex-column.flex-row-ns.dim.pointer
          .club__padding.pa2.flex.flex-column.flex-row-ns
            .club__avatar.pa2
              img(src="/img/avatar-6.png", alt="").img.club__avatar--mw45
            .club__name
              p.ma2.v-mid.fw5.f6.font-color-1 China<br>
                span.f6.font-color-2.lh-club 122 people
            
      a
        article.club__item.flex.flex-column.flex-row-ns.dim.pointer
          .club__padding.pa2.flex.flex-column.flex-row-ns
            .club__avatar.pa2
              img(src="/img/avatar-5.png", alt="").img.club__avatar--mw45
            .club__name
              p.ma2.v-mid.fw5.f6.font-color-1 Developers<br>
                span.f6.font-color-2.lh-club 12 people

    .summary
      .post.bb.bt.b--black-10.br.post--selected 
        .post__content.pa3.pb0.flex
          img.placeholer.dib.mr2(src='/img/avatar-5.png', alt='', width='18' height="18") 
          span Computer Science
        .post__content.pa3.pb0
          span.post-description Participate on the 
          |
          b Hackital 
          |  event on sunday morning, bring your lunch
        .post__meta.pa3.flex.justify-between
          .post__avatars.flex
            span.user-image.tc
              .user-image
                img.placeholder.dib.br-100(src='https://randomuser.me/api/portraits/women/20.jpg', alt='', width='28')
            span.user-image.tc
              .user-image-pic
                img.placeholder.dib.br-100(src='https://randomuser.me/api/portraits/women/5.jpg', alt='', width='28')
            span.user-image.tc
              .user-image-pic
                img.placeholder.dib.br-100(src='https://randomuser.me/api/portraits/women/12.jpg', alt='', width='28')
            span.user-image.tc
              .user-image-pic
                img.placeholder.dib.br-100(src='https://randomuser.me/api/portraits/men/27.jpg', alt='', width='28')
            span.user-image.tc
              .user-image-pic
                img.placeholder.dib.br-100(src='https://randomuser.me/api/portraits/women/22.jpg', alt='', width='28')
            span.user-image.tc
              .user-image-pic
                img.placeholder.dib.br-100(src='/img/plus3avatar.png', alt='', width='28')
          .post__comments.lh-copy 4 comments
          
      .post.bb.bt.b--black-10.br
        .post__content.pa3.pb0.flex
          img.placeholer.dib.mr2(src='/img/avatar-6.png', alt='', width='18' height="18") 
          span China
        .post__content.pa3.pb0
          span.post-description Get along our friends for a fantastic fundrising this friday.
        .post__meta.pa3.flex.justify-between
          .post__avatars.flex
            span.user-image.tc
              .user-image
                img.placeholder.dib.br-100(src='https://randomuser.me/api/portraits/women/21.jpg', alt='', width='28')
            span.user-image.tc
              .user-image-pic
                img.placeholder.dib.br-100(src='https://randomuser.me/api/portraits/women/25.jpg', alt='', width='28')
            span.user-image.tc
              .user-image-pic
                img.placeholder.dib.br-100(src='https://randomuser.me/api/portraits/women/1.jpg', alt='', width='28')
            span.user-image.tc
              .user-image-pic
                img.placeholder.dib.br-100(src='https://randomuser.me/api/portraits/men/23.jpg', alt='', width='28')

            span.user-image.tc
              .user-image-pic
                img.placeholder.dib.br-100(src='/img/plus3avatar.png', alt='', width='28')
          .post__comments.lh-copy 4 comments
      
  .app-wrap
    .header.white
      .post__content.pa2.flex 
        img.placeholer.dib.mr2(src='/img/avatar-5.png', alt='', width='18' height="18") 
        span Computer Science
      .post__content.pa2.mb4
        span.post-description Participate on the 
        |
        b Hackital 
        |  event on sunday morning, bring your lunch
    include messages-wrapper
    include scripts
