doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    link(rel='icon', href='favicon.ico')
    title= Freshman
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600', rel='stylesheet')

  body
    .app-wrap
      block content
        include nav.pug
