ul.pages
  div.chatLimit
    li.chat.page
      div.chatArea
        ul.messages
      div
    li
  div
  input.inputMessage(placeholder="Enter message")  
  li.login.page
    div.form
      h3.titleLog Enter with your university email
      input.usernameInput(type="text" maxlength="32" placeholder="email@school.edu")
