ul.pages
  div.chatLimit
    li.chat.page
      div.chatArea
        ul.messages
      div
    input.inputMessage(placeholder="Type heres...")
    li
  div
  li.login.page
    div.form
      h3.titleLog in with your university email
      input.usernameInput(type="text" maxlength="32")
